{# Managed by Ansible – role: ansible_role_beszel_agent #}
{# Manual changes will be overwritten on the next Ansible run! #}
---
services:
  beszel-agent:
    image: "{{ beszel_agent_image }}"
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./beszel_agent_data:/var/lib/beszel-agent
      - /var/run/docker.sock:/var/run/docker.sock:ro
    env_file:
      - .env
    environment:
      LISTEN: "0.0.0.0:{{ beszel_agent_port }}"
      HUB_URL: "{{ beszel_agent_hub_url }}"
